<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Saltkin &dash; Responsive Admin &amp; Dashboard UI Template</title>

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,400italic%7cMontserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Template -->
    <link href="~/Content/css/main.min.css" rel="stylesheet">
    <link href="~/Content/css/dropdownlist/dropdownliststyle.css" rel="stylesheet" />
    <link href="~/Content/css/typicons.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <!-- iCheck - Custom radio/check input -->
    <link href="~/Content/css/icheck/minimal.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Footable plugin -->
    <link href="~/Content/css/plugins.min.css" rel="stylesheet">
    <!-- Template -->
    <link href="~/Content/css/main.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="js/plugins/shiv.min.js"></script>
      <script src="js/plugins/respond.min.js"></script>
      <script src="js/plugins/excanvas.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Page container -->
    <div class="page-container">
        <!-- Sidebar -->
        <aside id="sidebar">
            <!-- Sidebar header -->
            <header class="sidebar-header">
                <h1><img src="~/Content/img/logo.png" alt="Saltkin"></h1>
                <a href="" id="make-compact"><span class="typcn typcn-th-menu"></span></a>
                <a href="#" id="hide-menu"><span class="fa fa-caret-square-o-left"></span></a>
            </header>
            <!-- /Sidebar header -->
            <!-- Sidebar group -->
            <ul class="sidebar-group">
                <li class="sidebar-group-header">NAVIGATION</li>
                <li>
                    <a href="index.html"><i class="typcn typcn-home"></i> <span>Dashboard</span></a>
                    <div class="sidebar-link-addon"><span class="badge bg-green">NEW</span></div>
                </li>
                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-compass"></i> <span>Kullanıcı</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a href="@Url.Action("Insert","User")">Kullanıcı Ekle</a></li>
                        <li><a href="@Url.Action("GetList","User")">Kullanıcıları Listele</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>

                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Kategori</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a href="@Url.Action("Insert","Category")">Kategori Ekle</a></li>
                        <li><a href="@Url.Action("GetList","Category")">Kategorileri Listele</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>

                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Kitap</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a href="@Url.Action("Insert","Book")">Kitap Ekle</a></li>
                        <li><a href="@Url.Action("GetList","Book")">Kitapları Listele</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>

                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-tabs-outline"></i> <span>Rol</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a href="@Url.Action("Insert","Role")">Role Ekle</a></li>
                        <li><a href="@Url.Action("GetList","Role")">Rolleri Listele</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>

                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-clipboard"></i> <span>Login İşlemleri</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a href="@Url.Action("Login","Account")">Login</a></li>
                        <li><a href="forms_elements.html">Logout</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>

                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-clipboard"></i> <span>Okunacak Kitaplar</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a href="@Url.Action("Insert","ReadBook")">Okunacak Kitap Ekle</a></li>
                        <li><a href="@Url.Action("GetList","ReadBook")">Okunacak Kitaplar Listesi</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>

                <li class="has-submenu">
                    <a href="#"><i class="typcn typcn-clipboard"></i> <span>Ödünç Verilen Kitaplar</span></a>
                    <div class="sidebar-link-addon"><i class="typcn typcn-plus"></i></div>
                    <!-- Sidebar submenu -->
                    <ul class="sidebar-submenu">
                        <li><a href="@Url.Action("Insert","LentBook")">Ödünç Kitap Ekle</a></li>
                        <li><a href="@Url.Action("GetList","LentBook")">Ödünç Kitaplar Listesi</a></li>
                    </ul>
                    <!-- /Sidebar submenu -->
                </li>

            </ul>
            <!-- /Sidebar group -->
            <!-- Sidebar group -->
            <ul class="sidebar-group">
                <li class="sidebar-group-header">FAVORITES</li>
                <li><a href="#"><i class="typcn typcn-starburst text-red"></i> <span>Web design</span></a></li>
                <li><a href="#"><i class="typcn typcn-starburst text-blue"></i> <span>Technology</span></a></li>
                <li><a href="#"><i class="typcn typcn-starburst text-green"></i> <span>Gadgets</span></a></li>
            </ul>
            <!-- /Sidebar group -->
            <br>
            <!-- Sidebar panel -->
            <div class="sidebar-panel">
                <h4>Upgrade</h4>
                <p>
                    Upgrade to premium to get rid of the ads!
                    <br>
                    <button class="btn btn-primary btn-block">Learn more...</button>
                </p>
            </div>
            <!-- /Sidebar panel -->
            <!-- Sidebar panel -->
            <div class="sidebar-panel">
                <button class="btn btn-primary btn-block no-margin"><i class="typcn typcn-plus"></i> Create invoice</button>
            </div>
            <!-- /Sidebar panel -->
        </aside>
        <!-- /Sidebar -->
        <!-- Content -->

        <div id="content">
            <!-- Header -->
            <nav class="header-site">
                <div class="container-fluid">
                    <!-- Page title and breadcrumb navigation -->
                    <div class="page-title">
                        <h4><a href="#" id="toggle-menu"><i class="typcn typcn-th-menu"></i></a> <span>DASHBOARD PAGE</span></h4>
                        <nav>
                            <a href="#">Dashboard</a>
                            <span class="typcn typcn-chevron-right"></span>
                            <a href="#">Page title</a>
                        </nav>
                    </div>
                    <!-- /Page title and breadcrumb navigation -->
                    <!-- Header navigation / icons -->
                    <ul class="header-nav navbar-right">
                        <!-- Messages -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="typcn typcn-messages"></span></a>
                            <span class="badge">3</span>
                            <div class="dropdown-menu panel panel-messages dropdown-arrow pull-right">
                                <div class="panel-heading">MESSAGES <span class="badge pull-right bg-orange">NEW</span></div>
                                <div class="panel-body scrollbox">
                                    <ul class="chat">
                                        <li class="left clearfix">
                                            <a href="#">
                                                <span class="chat-img pull-left">
                                                    <img src="placeholders/user1.jpg" alt="User Avatar" class="img-circle">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="primary-font">Jon Bateman</strong>
                                                        <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>12 mins ago
                                                        </small>
                                                    </div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibend...
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="left clearfix">
                                            <a href="#">
                                                <span class="chat-img pull-left">
                                                    <img src="placeholders/user2.jpg" alt="User Avatar" class="img-circle">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="primary-font">Sam Smalls</strong>
                                                        <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>12 mins ago
                                                        </small>
                                                    </div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibend...
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="left clearfix">
                                            <a href="#">
                                                <span class="chat-img pull-left">
                                                    <img src="placeholders/user1.jpg" alt="User Avatar" class="img-circle">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="primary-font">The Flash</strong>
                                                        <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>12 mins ago
                                                        </small>
                                                    </div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibend...
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="left clearfix">
                                            <a href="#">
                                                <span class="chat-img pull-left">
                                                    <img src="placeholders/user2.jpg" alt="User Avatar" class="img-circle">
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="primary-font">Bruce Nolan</strong>
                                                        <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>12 mins ago
                                                        </small>
                                                    </div>
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibend...
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <footer class="panel-footer text-center">
                                    <a href="#">View all messages</a>
                                </footer>
                            </div>
                        </li>
                        <!-- /Messages -->
                        <!-- Notifications -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="typcn typcn-bell"></span></a>
                            <div class="dropdown-menu panel panel-notifications dropdown-arrow pull-right">
                                <div class="panel-heading">NOTIFICATIONS</div>
                                <div class="panel-body scrollbox">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-heart bg-red"></i>
                                                        New likes
                                                    </span>
                                                    <span class="badge badge-gray pull-right">22</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-user bg-blue"></i>
                                                        New users
                                                    </span>
                                                    <span class="badge badge-gray pull-right">6</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-image bg-green"></i>
                                                        New pictures
                                                    </span>
                                                    <span class="badge badge-gray pull-right">125</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-heart bg-orange"></i>
                                                        New likes
                                                    </span>
                                                    <span class="badge badge-gray pull-right">22</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-user bg-purple"></i>
                                                        New users
                                                    </span>
                                                    <span class="badge badge-gray pull-right">6</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="clearfix">
                                                    <span class="pull-left">
                                                        <i class="typcn typcn-image bg-yellow"></i>
                                                        New pictures
                                                    </span>
                                                    <span class="badge badge-gray pull-right">125</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <!-- /Notifications -->
                        <!-- Profile -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="placeholders/avatar.jpg" alt="User avatar"></a>
                            <ul class="dropdown-menu dropdown-arrow pull-right">
                                <li><a href="#"><span class="typcn typcn-edit"></span> Edit profile</a></li>
                                <li><a href="#"><span class="typcn typcn-cog"></span> Settings</a></li>
                                <li><a href="#"><span class="typcn typcn-contacts"></span> Contacts</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><span class="typcn typcn-power"></span> Sign out</a></li>
                            </ul>
                        </li>
                        <!-- /Profile -->
                    </ul>
                    <!-- /Header navigation / icons -->
                </div>
            </nav>
            <!-- /Header -->
            <!-- Content start -->
            <div class="container-fluid">
                <!-- Statistics panels -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-stat">
                            <div class="panel-body">
                                <div class="clearfix">
                                    <div class="stat-icon bg-dark pull-left"><i class="typcn typcn-user"></i></div>
                                    <div class="stat-info pull-left"><h4><small>NEW USERS</small><br>46342</h4></div>
                                    <span class="typcn typcn-arrow-up pull-right text-green"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-stat panel-alt bg-purple">
                            <div class="panel-body">
                                <div class="clearfix">
                                    <div class="stat-icon bg-shade pull-left"><i class="typcn typcn-gift"></i></div>
                                    <div class="stat-info pull-left"><h4><small>NEW GIFTS</small><br>1000</h4></div>
                                    <span class="typcn typcn-plus pull-right"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-stat">
                            <div class="panel-body">
                                <div class="clearfix">
                                    <div class="stat-icon bg-red pull-left"><i class="typcn typcn-clipboard"></i></div>
                                    <div class="stat-info pull-left"><h4><small>PENDING ORDERS</small><br>43</h4></div>
                                    <span class="typcn typcn-arrow-down pull-right text-red"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-stat">
                            <div class="panel-body">
                                <div class="clearfix">
                                    <div class="stat-icon bg-green pull-left"><i class="typcn typcn-chart-bar"></i></div>
                                    <div class="stat-info pull-left"><h4><small>WITH CHART</small><br>$10.500</h4></div>
                                    <span class="typcn typcn-arrow-up pull-right text-green"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Statistics panels -->
                @RenderBody()
            </div>
        </div>
        <!-- /Content -->
    </div>
    <!-- /Page container -->
    <!-- PLUGINS ALL -->
    <script src="~/Content/js/plugins/jquery.min.js"></script>
    <script src="~/Content/js/plugins/modernizr.min.js"></script>
    <!-- Bootstrap core -->
    <script src="~/Content/js/plugins/bootstrap.min.js"></script>
    <!-- Custom scrollbar -->
    <script src="~/Content/js/plugins/enscroll.min.js"></script>
    <!-- Dynamic tables -->
    <script src="~/Content/js/plugins/footable.min.js"></script>
    <!-- Knob / Donut charts -->
    <script src="~/Content/js/plugins/knob.min.js"></script>
    <!-- Rickshaw graphs & charts -->
    <script src="~/Content/js/plugins/sparkline.min.js"></script>
    <script src="~/Content/js/plugins/rickshaw/d3.v3.js"></script>
    <script src="~/Content/js/plugins/rickshaw/rickshaw.min.js"></script>
    <!-- Flot -->
    <script src="~/Content/js/plugins/flot.min.js"></script>
    <!-- Custom checkboxes and radio input -->
    <script src="~/Content/js/plugins/icheck.min.js"></script>
    <!-- Page specific -->
    <script src="~/Content/js/page-dashboard.js"></script>
    <!-- Site -->
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/jquery/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/js/jquery/jquery.sumoselect.min.js"></script>
    <!-- WYSIWYG -->
    <script src="~/Content/js/plugins/summernote.min.js"></script>
    <!-- Responsive multimenu -->
    <script src="~/Content/js/plugins/multimenu.min.js"></script>
    <!-- Calendar -->
    <script src="~/Content/js/plugins/calendar/underscore.min.js"></script>
    <script src="~/Content/js/plugins/calendar/calendar.min.js"></script>
    <!-- Masked input -->
    <script src="~/Content/js/plugins/maskedinput.min.js"></script>
    <!-- Date and time picker -->
    <script src="~/Content/js/plugins/datepicker/moment.min.js"></script>
    <script src="~/Content/js/plugins/datepicker/datetimepicker.min.js"></script>
    <!-- Site -->
    <script src="~/Content/js/main.js"></script>
    <!-- Page specific -->
    <script src="~/Content/js/page-form-elements.js"></script>

</body>
</html>