@model PersonalBookLibrary.MvcUI.Models.ComplexType.LentBookViewModel

@{
    ViewBag.Title = "GetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}

<head>
    <style>
        .btn {
            border-radius: 5px 5px;
        }

        .label {
            font-size: 14px;
        }
    </style>
</head>

<html lang="en">
<body>

    <!-- Content -->
    <div id="content">

        <div class="container-fluid">

            <div class="row">
                <!-- Responsive table -->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <header class="panel-heading">Ödünç Verilen Kitaplar Listesi</header>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table footable table-hover">
                                    <thead>
                                        <tr>
                                            <th>Sıra</th>
                                            <th>Kitap Adı</th>
                                            <th>Yazar Adı</th>
                                            <th>Kategori</th>
                                            <th>Ödünç Alanın Adı</th>
                                            <th>Ödünç Verenin Adı</th>
                                            <th>Ödünç Verme Tarihi</th>
                                            <th>İade Al</th>
                                            <th>Detay</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*buraya sayfa yönlendirmesinde hata oluşuyor.*@

                                        @foreach (var lentBookDetail in Model.LentBookDetails)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>
                                                    @lentBookDetail.BookName
                                                </td>
                                                <td>
                                                    @lentBookDetail.AuthorName
                                                </td>
                                                <td>
                                                    @lentBookDetail.CategoryName
                                                </td>
                                                <td>
                                                    @lentBookDetail.BorrowPersonName  @lentBookDetail.BorrowPersonLastName
                                                </td>
                                                <td>
                                                    @lentBookDetail.GivenUserName
                                                </td>
                                                <td>
                                                    @lentBookDetail.GivenDate
                                                </td>

                                                <td><a href="@Url.Action("UndoBook","UndoBook",new {book=Model.LentBookDetails.ToList(), id=lentBookDetail.LentBookID})" class="btn btn-success" type="button">İade Al</a></td>
                                                <td><a href="@Url.Action("UndoBookDetail","UndoBook",new {book = Model.LentBookDetails.ToList(), id=lentBookDetail.LentBookID })" class="btn btn-info" type="button">Detay</a></td>
                                            </tr>
                                            i++;
                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Responsive table -->
            </div>

        </div>
    </div>
    <!-- /Content -->

</body>
</html>
