
@model PersonalBookLibrary.MvcUI.Models.CategoryViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var insertAjaxOptions = new AjaxOptions
    {
        AllowCache = false, /*cache alıp almamasını belirliyoruz*/
        Url = Url.Action("Delete"),//gitmesini istedeğimiz adres
        HttpMethod = "post",//metodu belirliyoruz
        UpdateTargetId = "Categories",//işlem gerçekleştikten sonra update olmasını istediğimiz yeri belirtiyoruz.
        InsertionMode = InsertionMode.Replace,//ajax işleminden sonra verileri nereye basamasını istediğimizi belirtiriz.
        LoadingElementId = "progress",//html elemanlarından ıd si progress olan elemanı göster diyoruz
        LoadingElementDuration = 500//progress nesnesinin görünme süresini belirtiyoruz
    };
}

<!DOCTYPE html>

<head>
    <style>
        .btn {
            border-radius: 5px 5px;
            margin-right: 5px;
        }

        .label {
            font-size: 14px;
        }
    </style>
</head>

<html>
<body>

    <!-- Content -->
    <div id="content">

        <div class="container-fluid">

            <div class="row">
                <!-- Responsive table -->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <header class="panel-heading">Kategori Sil</header>
                        <div class="panel-body">
                            <div id="progress" class="progress" style="display: none;">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" style="width: 100%"></div>
                            </div>
                            <div>
                                <h4>@Model.Category.CategoryName isimli kategoriyi silmek istediğinizden emin misiniz?</h4>
                            </div>
                            @*Html.BeginForm yerine ajax.beginform yazıyoruz*@
                            @using (Ajax.BeginForm(insertAjaxOptions))
                            {
                                <div class="form-group">
                                    <label>Kategori Id</label>
                                    @Html.TextBoxFor(t => t.Category.CategoryId, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <div class="form-group">
                                    <label>Kategori Adı</label>
                                    @Html.TextBoxFor(t => t.Category.CategoryName, new { @class = "form-control", @readonly = "readonly" })
                                </div>

                                <div class="form-group">
                                    <label>Ekleyen Kullanıcı</label>
                                    @Html.TextBoxFor(t => t.Category.InsertUser, new { @class = "form-control", @readonly = "readonly" })
                                </div>

                                <div class="form-group">
                                    <label>Ekleme Tarihi</label>
                                    @Html.TextBoxFor(t => t.Category.InsertDate, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                
                                <div class="form-group">
                                    
                                    @if (Model.Category.LastUpdated)
                                    {
                                        <label>Güncellendi mi</label>
                                        @Html.TextBoxFor(t => t.Category.LastUpdated, new { @class = "form-control", @readonly = "readonly" })
                                    }
                                </div>

                                <div class="form-group">
                                    
                                    @if (Model.Category.LastUpdated)
                                    {
                                        <label>Güncelleyen Kullanıcı</label>
                                        @Html.TextBoxFor(t => t.Category.UpdateUser, new { @class = "form-control", @readonly = "readonly" })
                                    }
                                </div>

                                <div class="form-group">
                                    
                                    @if (Model.Category.LastUpdated)
                                    {
                                        <label>Güncelleme Tarihi</label>
                                        @Html.TextBoxFor(t => t.Category.UpdateDate, new { @class = "form-control", @readonly = "readonly" })
                                    }
                                </div>


                                <div>
                                    <label>Durumu</label>
                                    @if (Model.Category.Status)
                                    {
                                        @Html.TextBoxFor(t => t.Category.Status, new { @class = "form-control", @readonly = "readonly" })
                                    }

                                </div>
                                <div>
                                    <a href="@Url.Action("GetList","Category")" class="btn btn-primary pull-right" type="button">Geri Dön</a>

                                    <button class="btn btn-primary pull-right">Sil</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!-- /Responsive table -->
            </div>

        </div>
    </div>
    <!-- /Content -->

</body>
</html>
